
SourceCode/.vs/CSharpExamples/DesignTimeBuild/.dtbcache
SourceCode/.vs/CSharpExamples/v15/.suo
SourceCode/.vs/CSharpExamples/v15/Server/sqlite3/db.lock
SourceCode/.vs/CSharpExamples/v15/Server/sqlite3/storage.ide
SourceCode/.vs/CSharpExamples/v15/Server/sqlite3/storage.ide-shm
SourceCode/.vs/CSharpExamples/v15/Server/sqlite3/storage.ide-wal
